body {
  background-color: rgb(186, 245, 186);
}
h1 {
  color: white;
  size: 5px;
}
p {
  color: black;
}

.banner-container {
  background-color: rgb(186, 245, 186); 
  color: white; 
  padding-top: 10px; 
  padding-bottom: 300px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: top right;   
}

.name-container h1{
  font-size: 100px;
  padding: 50px;
  text-align: center;
}
